@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

* {
  font-family: "Coming Soon", cursive;
  letter-spacing: 3px;
}
#i {
  padding: 0;
  color: black;
  font-weight: 690;
  background-color: #fbf719;
}
